/* ==========================================================================
   GENERAL
   ========================================================================== */
   body{
   	font: 1em/1.5em Helvetica Neue,Helvetica,sans-serif;
   	color: #333;
	}

	$color-connected 	: #98c908;
	$color-disconnected	: #b20303;
	$color-connecting	: #fea00d;

	h1{
		text-align: center;
	}

/* ==========================================================================
   STATUS
   ========================================================================== */

	#status{
		margin: 0 auto;
		width: 150px;
		height: 150px;
		text-align: center;
	}

	#status.connected{
		color: $color-connected;
		border-color: $color-connected;

		.status-pin li{
			background: $color-connected;;
		}
	}
	#status.connected:after{ content: 'CONNECTED' }

	#status.connecting{
		color: $color-connecting;
		border-color: $color-connecting;
		.status-pin li{
			background: $color-connecting;
		}

	}
	#status.connecting:after{ content: 'CONNECTING' }

	#status.disconnected{
		color: $color-disconnected;
		border-color: $color-disconnected;
		.status-pin li{
			background: $color-disconnected;
		}
	}
	#status.disconnected:after{ content: 'DISCONNECTED' }


	.status-badge{
		position: relative;
		width: 100px;
		height: 100px;
		border: solid 3px;
		border-radius: 55px;
		margin: 0 auto 10px auto;
	}

	.status-pin{
		display: table;
		margin: 45px auto;
		padding: 0;
	}

	.status-pin li{
		display: block;
		float: left;
		width: 10px;
		height: 10px;
		margin-right: 10px;

		border-radius: 5px;
	}

	.status-pin li:last-child{
		margin-right: 0;
	}



