lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
bower_components/

npm-debug.log

# Mac OS X Finder and whatnot
.DS_Store

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/

# npm modules
node_modules/
